/**************** Font import *********************/
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

/******************** Normal CSS ********************/
body{
    background: #f7f1e3;
    font-family: 'Sora', sans-serif;
}
.container {
    width: 30%;
    margin: 0 auto;
}
.calculator {
    display: inline-block;
    text-align: center;
    background: #FFF;
    margin: 6vh 0;
    border: 1.5px solid tomato;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.calculator .screen {
    display: grid;
    grid-template-columns: repeat(1,20rem);
}
.screen input {
    padding: 3rem 1rem;
    border: none;
    font-size: 2rem;
    border-bottom: 1.5px solid #dfe4ea;
    background-color: #fcfcfc;
}
.calculator h4 {
    margin: .5rem 0;
    color: tomato;
}
.screen input:focus {
    outline: none;
}
.btn-row {
    display: grid;
    grid-template-columns: repeat(4,5rem);
    grid-gap: 1rem 0;
}
.top-btn-row {
    display: grid;
    grid-template-columns: 7.5rem 7.5rem 5rem;
    color: #ff6348;
}
.op {
    color: #ff6348;
}
.bottom-btn-row {
    display: grid;
    grid-template-columns: 5rem 5rem 10rem;
}
.bottom-btn-row .eql{
    background: #f9fafd;
    border-radius: 10px;
}

span{
    font-size: 2rem;
    padding: .6rem 0;
    cursor: pointer; 
}


/******************** Responsive CSS ********************/
@media(max-width: 800px){
    .container{
        width: 100%;
    }
    .calculator {
        margin: 5rem 10rem;
    }
    span{
        padding: 1.2rem 1rem;
        font-size: 2.5rem;
    }
}
@media(max-width: 600px){
    .container{
        width: 100%;
    }
    .calculator {
        margin: 3rem 5rem;
    }
}
@media(max-width: 448px){
    .container{
        width: 100%;
    }
    .calculator {
        margin: 2rem 2rem;
    }
}
